[submodule "deps/bevy"]
	path = deps/bevy
	url = https://github.com/Septias/bevy.git
	branch = my_stuff
[submodule "deps/bevy_fly_camera"]
	path = deps/bevy_fly_camera
	url = https://github.com/Septias/bevy_fly_camera.git
	branch = mine
